*  html, body  {
  width: 100%;
 
} 
*{
  font-family: sans-serif; /* Change your font family */
}
/*nastavení vzhledu div s id map*/
#map {
  width: 95%;
  height: 95%; 
  padding: 0;  
  float: right;
  position: absolute;
  
} 
/*nastavení vzhledu div s id tabulka*/
#tabulka {
  width: 11%;
  height: 100%;
  padding: 0;
  float: left;
  position: absolute;
} 
/*nastavení vzhledu tabulky v div s id tabulka*/
.content-table {
  border-collapse: collapse;
  margin: 5px;
  font-size: 0.8em;
  min-width: 5%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: 5px;
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
/*nastavení vzhledu tlačítka na export do CSV*/
.tlacitko{
  margin: 5px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 0;;
}